.form-row {
	flex-wrap: wrap;
	align-items: center; /* dikey hizalama */
	justify-content: flex-start; /* yatay hizalama */
	margin-bottom: 20px;
	background-color: #f2f2f2; 
}

.form-row label {
	flex-basis: 150px;
	margin-right: 5px;
}

.form-row input[type="text"] {
	width: 250px;
	margin-right: 5px;
}

.form-row textarea {
  height: 150px;
  width: 450px;
  margin-right: 5px;
}

.form-row input[type="checkbox"] {
	flex-basis: 50px;
	margin-right: 5px;
	transform: scale(2);
}

#ch_ame,#ch_ekg, #ch_ilac,#ch_rt,#ch_gks,#ch_sol,#ch_krd,#ch_nor,#ch_bat, #ch_dig, #ch_ozg, #ch_ted, #ch_ext{
  accent-color: #87de87;
  	transform: scale(2);
}

#ch_adli {
  accent-color: #e74c3c;
}

#lb_adli, #lb_pan  {
  color: brown;
    font-weight: bold;
  text-decoration: underline;
}

#lb_icd, #lb_112, #tx_icd{
  color: blue;
    font-weight: bold;
}

#lb_112, #lb_ext, #lb_plus {
  margin-left: 20px;
}

#lb_nrl, #lb_gog, #lb_dah, #lb_kvc, #lb_nrs, #lb_gcr #lb_nfr, #lb_ort, #lb_ane {
  margin-left: 20px;
}

#ta_sik {
	margin-top: 10px;
	 margin-left: 50px;
}

#ch_xr {
  opacity: 0;
  margin-left: 20px;
}

.xr--wrapper {
  background-color: #f2f2f2;
}


#lb_ted{
	 margin-left: 650px;
}


#lb_cap {
  color: red;
}

#lb_idm {
font-size: 20px;
}

.form_buton button[type="kons"] {
	padding: 5px 10px;
	background-color: #bbc429;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: 500px;
}

.form_buton button[type="end"] {
	padding: 5px 10px;
	background-color: #1d9bd0;
	color: white;
	border: none;
	cursor: pointer;
}

#gi-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gi-container label, #gi-container input, #gi-container button {
  margin-bottom: 15px;
}
#lb_pan {
	display: flex;
  justify-content: center;
  align-items: center;
}

#lb_cunt {
	color: #c6d9f0
}

body {
  background-color: #d7e4f3;  
}

#tx_icd, #ta_sik {
background-color: #f6fde6;
}
#tx_ks {
background-color: #f9eefc;
}

#text2, #tx_NB, #tx_SS, #tx_ates, #tx_SAT {
  width: 30px;
}

#tx_TA, #tx_ks {
  width: 50px;
}
#tx_name, #bt_fk {
  width: 140px;
}
#tx_ilac, #tx_ozg {
width: 200px;
}

#txa {
	height: 100%;
  width: 100%;
  resize: vertical;
  overflow-y: hidden;
}